#enterteniments{

    margin: 20em 0 10em 0;
}



.containerall__enterteniments{



   
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}







.container2{



 
}


.background__sphere{
       width: 29.3125em;            /* Largura fina */
  height: 28.625em;         /* Altura da barra */
  border-radius: 50%;
  background:linear-gradient(to bottom, #6D74F9 10%, #eb1d20 80%); 
  
    box-shadow:   0 20px 30px  #eb1d20, 
                   0 -20px 25px #6D74F9;


  display: inline-block;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  align-self: center;
  
  
}



.person__jill img:hover{
    
    width: 101%;
    height: 101%;
    cursor: pointer;
}

.person__jill img{

    width: 100%;
    height: 100%;
}




















.container1{
    
.square{

    width: 45em;            /* Largura fina */
  height: 20em;         /* Altura da barra */
  background-color: #212736; /* Cor da barra */
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  z-index: 0;
  position: relative;

  box-shadow: 0 20px 50px #242A38 ;
}
  
}



.content__text__cardgames{

    animation: fade linear both;
    animation-timeline: view(var(--end) var(--beginig));

    margin: 0 0 15em 0;

    & h1{
        font-size: var(--h1-fs);
       
        margin: 1em 0 0.3em 2em;
        
    }

    & p {
        margin: 0 0 0 2em;
        animation: fade linear both;
        animation-timeline: view(var(--end) var(--beginig));
    }
}


.container__cardgames{
    margin: 2em 0 0em 5em;
    
}



.cardsoneperone{

    & .cardgame1 img{
         width: 34%;
        position: absolute;
        z-index: 1;
        transform: rotate(-15deg);
         border-radius: 15px;
    }

    & .cardgame2 img{
        width: 34%;
        height: auto;
       position: absolute;
      z-index: 2;
      left: 10em;
        transform: rotate(-15deg);
         border-radius: 15px;
    }


     & .cardgame3 img{
        width: 34%;
        height: auto;
       position: absolute;

        z-index: 3;
      left: 17em;
        transform: rotate(-15deg);
         border-radius: 15px;
    }



     & .cardgame4 img{
        width: 34%;
        height: auto;
       position: absolute;

            z-index: 4;
      left: 25em;
      top: 2em;
        transform: rotate(-15deg);
        border-radius: 15px;
    }
}











.cardsoneperone{

    & .cardgame1 img:hover{
         width: 36%;
         
     
        cursor: pointer;
    }

    & .cardgame2 img:hover{
        width: 36%;
        height: auto;
       
         
        cursor: pointer;
    }


     & .cardgame3 img:hover{
        width: 36%;
        height: auto;
        
         
        cursor: pointer;
    }



     & .cardgame4 img:hover{
        width: 36%;
        height: auto;
       
        cursor: pointer;
            user-select: none;
      
    }
}





  @keyframes fade {

    0% {
        opacity: 0;
        scale: .8;
    }

    

    100%{
        opacity: 1;
        scale: 1;
    }

}