:root{







    /*Font-size large*/
    --span-fs: 1rem;

    --h3-fs: 1rem;
    --h2-fs: 1.6rem;
    --h1-fs: 3rem;
    


    /*Font-size medium*/
    --h2-fs-sm: 1.2rem;
--h1-fs-m: 1.6rem;
    /*font-size small*/
    --h2-fs-small: 0.5rem;
--h1-fs-small: 1rem;
--h3-fs-m: 0.6rem;

/*extra small*/
--h1-fs-small2: 0.6rem;
--h3-fs-small: 0.4rem;


    --span-color:#F2D1D1;
    --h3-default:#F2D1D1;
    --titles-color: #6D74F9;
    --button-color: #6D74F9;
    --slash-bg: #4325EB;





    /*Color cards of project*/

    --pj-bk-color: #171D2A;



    /*Cards game*/
    --h2-card-cl:  #5E5E5E;






    /*Animation fade cards project*/

    --end-an:37.5em; 
    --beginig-an: 0.3125em;
    


/*Animation fade others*/

    --end:31.25em; 
    --beginig: 0.625em;



   
}





  
 
html{
      scroll-behavior: smooth;
      
}



body, html {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
  
  
   
}
body{

     background-color: #121212;
     color: var(--span-color);
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}


span{
    color: #F2D1D1;
    max-width: 100%
}


.h1, h2, h3, p, span {
     font-family: "Poppins", sans-serif;
}



.desktop-only{
    display: none ;
}
.mobile-only{
    display: none;
}

@media (width >= 70em){
    .desktop-only{
        display: block;
    }
}



@media (width <= 83.625em){

    .mobile-only{
        display: block;
    }

}

