#navbar {

 
  position: sticky;
  top: 0;
  z-index: 999;
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
    

















    & header{

        & nav{
           
            
            & .containerlinks{

                justify-content: space-around;
                gap: 1em;

                & .containerinfo{
                    gap: 3em;
                    align-items: center;
                    font-size: var(--h3-fs);
                    

                    & h3{
                        color: var(--h3-default);



                        & span{
                        color: var(--titles-color);


                    }
                    }

                    
                }





                & .containerlinks__spans{
                   gap: 1em;
                    align-items: center;
                    justify-items:end;
                    font-size: var(--span-fs);
                    color: var(--span-color);

                }
            }




            & h3 {

                display: inline-block;
            }
        }
    }


}





@keyframes fade-in {

    0% {
     background-color: rgba(0, 0, 0, 0);
    }

  20% {
     background-color: rgba(0, 0, 0, 0);
    }


    50% {
     background-color: rgba(0, 0, 0, 0.267);
    }



    70% {
     background-color: rgba(0, 0, 0, 0.651);
    }

    100%{
        
     background-color: rgba(0, 0, 0, 0.11);
    }
}
  



@media (width <= 70em) {
  #navbar header nav .containerlinks .containerlinks__spans {
    grid-template-columns: 1fr 1fr;
  
  }


  #navbar header nav .containerlinks .containerinfo{
    gap:0.2em;
  }
.containerinfo{
  
}

  #navbar{
    
  }
}