


#overview{
& .containeroverview p{
  font-size: 1.5rem;
}

   

    & .containeroverview, .content{
        margin: 10em 10em;
        animation: fade linear both;
       animation-timeline: view(var(--end) var(--beginig));

        & h1{
          font-size: 2.7rem;
        }
    }


    &  .containeroverview p{

      text-align: left;
    }





    

}










.tracks2 {
    animation: fade linear both;
     animation-timeline: view(var(--end) var(--beginig));
  width: 100%;
  overflow: hidden;
  
   mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-track2 {
  display: flex;
  animation: scroll-horizontalreverse 10s  linear infinite both;
  min-width: fit-content;
  gap: 1em;
}

.slide-track2 img {
  width: 10em;
  height: auto;
  margin: 0 2em;
  flex-shrink: 0;
}






@media (width <= 70em){

#overview{

& .containeroverview p{
  font-size: 1rem;
}
   

    & .containeroverview, .content{
        margin: 4em 4em;



        & h1{
          font-size: 1.9rem;
        }
        
    }





    

}

.slide-track2 img {
  width: 5em;
  height: auto;
  margin: 0 2em;
  flex-shrink: 0;
}

}



@keyframes scroll-horizontalreverse{
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(98%);
  }
}













@keyframes fade {

    0% {
        opacity: 0;
        scale: .8;
    }

    

    100%{
        opacity: 1;
        scale: 1;
    }
}