.slashvertical {
  width: 0.125em;            /* Largura fina */
  height: 10em;         /* Altura da barra */
  background-color: var(--slash-bg); /* Cor da barra */
  display: inline-block;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.containerbutton a{
  margin-top: 0.3em;
    border-radius: 15px;
    border: none;
    background-color: var(--button-color);
    color: white;
    padding: 1em 1.6em;
}



.container__imageaside{
    width: 60%;
  height: auto;
  min-height: 50em;
  background-image: url('../assets/projectcards/computerbackgroundclean.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  object-fit: contain;
}

.container__text{
    width: 40%;
   justify-content: end;   /* Centraliza na horizontal */
  align-items: center;       /* Centraliza na vertical */

  & .text h1{
    font-size: var(--h1-fs);
   
  }

 

  & .text  span{
    color: var(--titles-color);
    white-space: nowrap;
  }
}

.containerall{
    width: 100%;
    
}
















.containerbutton{
  gap: 1em;
  justify-content: center;
}

@media(width <= 70em){
.containerbutton{
  gap: 0.5em;
  
}


.containerbutton a{
  margin-top: 0.3em;
    border-radius: 15px;
    border: none;
    background-color: var(--button-color);
    color: white;
    padding: 0.7em;
}





.containerall{
   display: grid;
    justify-content: center;

    margin: 8em 0 2em 0;
}


.container__text{
    width: 100%;
   justify-content: start;   /* Centraliza na horizontal */
  align-items: center;       /* Centraliza na vertical */



  & .text h1{
    font-size: var(--h1-fs-small);
   
  }
}

.container__imageaside{
    width: 100%;
  height: auto;
  min-height: 50em;
  background-image: url('../assets/projectcards/computerbackgroundclean.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  object-fit: contain;
}

}